/.vs
/Akiyama/bin
/Akiyama/obj
/AkiyamaTest/obj
/AkiyamaTest/bin
/Radslaw/obj
/Radslaw/bin
/RadslawTest/bin
/RadslawTest/obj
/Step8/bin
/Step8/obj
/Step8Test/bin
/Step8Test/obj
/V1/bin
/V1/obj
/V1Test/bin
/V1Test/obj
/V2/bin
/V2/obj
/V2Test/obj
/V2Test/bin
/packages
